body{
    background: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: justify;
    background-color: #c1ca99;
}
h1, h2{
    color:#d0e961;
    font-weight: bolder;
}
nav {
    width: 1350px;
    height: 100px;
    display: flex;
    align-items: center;
    opacity: .8;
    background-color: #999;
}

.navegacion {
    display: none;
}

.navegacion li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7rem;
}

ul.navegacion.show {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin-top: 5rem;
    font-size: 2.4rem;
}

.logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    font-family: 'Bangers';
    font-size: 20px;
    color: #373a30;
    border-color: black;
    margin-left: 2rem;
}

.btn_barra_navegacion {
    height: 75px;
    display: inline-block;
    padding: 2px 5px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-right: 2rem;
}

.btn_barra_navegacion:hover {
    background-color: #3e8e41
}

.btn_barra_navegacion:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

a:link,
a:visited {
    text-decoration: none;
    color: #267365;
}

.abejas {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #c1ca99;
    width: max-content;
}

.parrafo1 {
    width: 70%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 2.7rem;
    margin-left: 7rem;
}

.parrafo2 {
    width: 70%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    text-align: center;
    font-size: 2.7rem;
    margin-left: 7rem;
}

h2,
h3,
li {
    font-family: 'Lato', sans-serif;
    margin-right: 3rem;
}

.productos {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    color: #d0e961;
    font-size: 1.5rem;
    background-image: url(imagenes/productos.jpg);
    width: 1024px;
    height: 250px;
    margin: 2%;
}


/*------------------------------------------FORMULARIO CONTACTO--------------------------------------------*/

.formulario {
    background-color: #c1ca99;
    width: 600px;
    min-height: 1200px;
    margin: auto;
    /** se utiliza esto para centrar el formulario cuando el padre no es
    un display flex, o sea por default un block**/
    margin-left: 5rem;
    padding: 2rem;
    border-radius: 1rem;
    border: outset;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #0d0e0d;
}

.campo {
    margin-bottom: 1.5rem;
}

.campo label {
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 1.2rem;
    display: block;
}

.campo textarea {
    height: 18rem;
}

.campo-validacion {
    width: 35%;
    align-items: flex-start;
    margin-left: 1rem;
    border: dashed;
    padding: .5rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.2rem;
    border-radius: .5rem;
}

.lista-servicios {
    display: flex;
}

.item-servicio {
    list-style: none;
    width: fit-content;
    border: 4px;
    padding: 10px;
    margin: 10px;
}

.tabla-precios-servicios {
    border-collapse: collapse;
    border-style: hidden;
    margin-left: 36%;
}

.h3-precios-servicios {
    margin-left: 36%;
}

.inline1 {
    font-weight: bolder;
    font-size: larger;
    background-color: #c1ca99;
}

h2 {
    margin-left: 2rem;
}

aside {
    width: 1000px;
    font-size: 30px;
}


/*------------------------------------------FORMULARIO TABLA--------------------------------------------*/

.form-tabla {
    margin: 0.5%;
    padding: 0%;
    width: 90%;
}

.seccionformulario {
    background-color: rgba(248, 248, 248, 0.7);
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-formulario {
    width: 45%;
    padding: .5rem;
    display: flex;
}

.item-formulario.texto {
    flex-direction: column;
}

.item-form-izq {
    width: 80%;
    text-align: left;
}

.item-form-der {
    width: 15%;
    padding-left: 1rem;
}

#formProductos {
    width: 40%;
}

td {
    background-color: #6ed093;
    text-align: center;
    border-bottom: 1rem;
    border: 0.5px solid black;
}

@media only screen and (min-width: 320px) {
    body{
        background: url(../images/fondo.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    .abejas {
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5%;
        text-align: center;
        justify-content: center;
        color: black;
        font-weight: bolder;
        display: flex;
        background-color: #c1ca99;
        width: max-content;
    }
    .parrafo1 {
        padding-top: 2rem;
        margin-left: 3rem;
        width: 80%;
        font-size: 1.5rem;
    }
    .parrafo2 {
        margin-left: 3rem;
        width: 80%;
        font-size: 1.5rem;
        margin-top: 5rem;
    }
    .navegacion {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
    }
    .navegacion li {
        font-size: 2.4rem;
    }
    .btn_barra_navegacion {
        display: none;
    }
    .productos {
        height: 250px;
    }
}

@media only screen and (min-width: 768px) {
    body{
        background: url(../images/fondo.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    nav {
        width: 100%;
        height: 100px;
        opacity: .8;
    }
    .abejas {
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5%;
        text-align: center;
        justify-content: center;
        color: black;
        font-weight: bolder;
        display: flex;
        background-color: #c1ca99;
        width: max-content;
    }
    .navegacion li {
        font-size: 2.1rem;
    }
    .parrafo1 {
        padding-top: 3rem;
        margin-left: 4rem;
        width: 80%;
        font-size: 1.8rem;
    }
    .parrafo2 {
        margin-left: 4rem;
        width: 80%;
        font-size: 1.8rem;
        margin-top: 5rem;
    }
    .formulario {
        width: 600px;
    }
    .productos {
        height: 350px;
    }
}

@media only screen and (min-width: 1024px) {
    body{
        background: url(../images/fondo.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    nav {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        opacity: .8;
        background-color: #999;
    }
    .abejas {
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        margin: 5%;
        text-align: center;
        justify-content: center;
        color: black;
        font-weight: bolder;
        display: flex;
        background-color: #c1ca99;
        width: max-content;
    }
    .navegacion li {
        font-size: 2.1rem;
    }
    .parrafo1 {
        width: 50%;
        font-size: 1.7rem;
    }
    .parrafo2 {
        width: 50%;
        font-size: 1.7rem;
    }
    .productos {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        color: #d0e961;
        font-size: 1.5rem;
        background-repeat: no-repeat;
        width: 1550px;
        height: 700px;
    }
    .formulario {
        width: 800px;
        margin: auto;
        min-height: 900px;
        margin-left: 3rem;
        padding: 1rem;
        border-radius: .5rem;
    }
    .campo textarea {
        height: 18rem;
    }
    .input-text {
        width: 90%;
        padding: 1rem;
    }
    .productos {
        height: 300px;
    }
}